<div id="questions">
  <%=params[:question]%>
  <p> - you </p>
</div>

<div id="answer">
  <div id="coach"><%=@response%></div>
  <p> - coach </p>
</div>

<%= link_to "Ask Another Question", ask_path %>
